<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
  </head>
    <title>Announcements</title>
</head>
<body>
    
  <%- include('./main_nav_student.ejs') %>   
  
    <section id="profile_main" class="d-flex justify-content-center align-items-center">
      
      
      

        <div id="profile" class="d-flex flex-column justify-content-center align-items-center">
         
            <div id="profile_details" class="d-flex justify-content-between align-items-center">  
                <div id="details">
                    <h5>Full Name: </h5>
                    <h5>Email: </h5>
                    <h5>Password: </h5>
                    <h5>Birthday: </h5>
                    <h5>ID: </h5>
                      
                </div>
                <div id="info">
                    <h5>Provided by School</h5>
                    <h5>Provided by School</h5>
                    <h5>Provided by School</h5>
                    <h5>Provided by School</h5>
                    <h5>Provided by School</h5>
                   
                </div>
                
            </div>
            <button id="edit_profile"  data-bs-toggle="modal" data-bs-target="#profile_form"> Edit Profile</button>
        </div>
        
    </section>


    <div class="modal fade" id="profile_form">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            
            <form method ="POST" action="">
                <div class="mb-3">
                  <label for="firstname" class="col-form-label"> Full Name</label>
                  <input type="text" class="form-control" id="" name="fullname">
                  
                </div>

                <div class="mb-3">
                  <label for="lastname" class="col-form-label"> Email</label>
                  <input type="email" class="form-control" id="" name="email">

                </div>

                <div class="mb-3">
                  <label for="grades" class="col-form-label"> Password</label>
                  <input type="password" class="form-control" id="" name="password">

                </div>

      
                <div class="mb-3">
                  <label for="grades" class="col-form-label"> Birthday</label>
                  <input type="date" class="form-control" id="" name="date">

                </div>

                <div class="mb-3">
                  <label for="grades" class="col-form-label"> I.D</label>
                  <input type="text" class="form-control" id="" name="id">

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                  
                  <input type="submit" name ="grades_edit" class="btn btn-secondary" value="Edit"> 
                </div>
              </form>
          </div>
          
        </div>
      </div>
    </div>
      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>