*{
 
    margin:0;
    padding:0;
    
}




header{
    background-color: #D9D9D9;
    border-bottom: 10px solid #3B778A;
    height:150px; 
   
    
}

header h2{
    font-weight: bold;
    color: #3B778A;
}
#header_logo{
    background-color: #6AB2C9;
    width:140px;
    height:120px;
    border-radius:50%;
    margin-left:100px;
    margin-top:10px;
}


#login{
    margin-top:80px;
}

#login h1{
    color:#3B778A;
    font-weight: bold;
}

#login form{
 
    height:200px;
    width:500px;
}

#login form input[type ="text"]{
    border-radius: 20px;
    height:49px;
    width:231px;
    border:none;
    background-color: rgb(218, 218, 218);
    padding-left:10px;

    
}

#login form input[type ="password"]{
    border-radius: 20px;
    height:49px;
    width:231px;
    border:none;
    background-color: rgb(218, 218, 218);
    padding-left:10px;
}

#login-button{
    background-color: #3B778A;
    width:150px;
    height:45px;
    border-radius: 20px;
    color:white;
    border:none;
}

::placeholder{
    color:black;
   
}



nav{
   
   position:fixed;
   width:280px;
   height:100%;
   background-color: #3B778A;
}

#lesson_nav{
    position:absolute;
   width:280px;
   height:100%;
   background-color: #3B778A;
}
nav h3{
    color:white;
    
}
ul{
    list-style-type: none;
    padding:0;
  
}

ul li {
    color:white;
   
    
}


#profile{
   
    background-color: #D9D9D9;
    width:60%;
    height:500px;
    
    
}


#photo{
    height:200px;
}


.profile-pic{
    height:200px;
    width:200px;
    border:1px solid gray;
    position:absolute;
    top:5%;
    border-radius: 50%;
    overflow:hidden;
    background-color: #D9D9D9;
    
    
}



#uploadBtn{
    height:40px;
    width:100%;
    position:absolute;
    bottom:0;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color:wheat;
    cursor:pointer;
}

#profile_details{
   
    background-color: #D9D9D9;
    width:50%;
    height:300px;
    
}

#details h5{
   
    color:#2A4D58;
    font-weight: bold;
}
#header{
    background-color: #3B778A;
    height:250px;
}

#header_logo{
    position:relative;

}

#header_logo img{
    position:absolute;
    margin-left:20px;
    margin-top:10px;
}

#main{
    margin-left:280px;
   
    
}

#profile_main{
    margin-left:280px;
    height:100vh;
}

#announcement_main{
    margin-left:280px;
    color:#2A4D58;
    
}





#lesson_main{
    margin-left:300px;
    
    height:100vh;
    background-color: #F5F5F5;
}

#lesson_main section{
    background-color: white;
    height:220px;
    border-radius: 5px;
    width:95%;
   
}


#file_main{
    margin-left:300px;
    
    height:100vh;
    background-color: #F5F5F5;
}

#fileview_main{
    margin-left:300px;
    
    height:100vh;
    background-color: #F5F5F5;
}

#file_main section{
    background-color: white;
    height:150x;
    border-radius: 5px;
    width:95%;
    
   
}



#file_edit_button{
    background-color: #3B778A;
    width:80px;
    height:35px;
    border-radius: 5px;
    color:white;
    border:none;
}

#home{
margin-left:100px;

background:none;
border:none;
}

#home a{
    color:#3B778A;
}

#lesson_buttons{
    
    width:95%;
}

#lesson_buttons button{
    width:100px;
    height:40px;
    font-weight: bold;
    background-color:rgba(0, 0, 0, 0.153);
    border:none;
    border-radius: 2px;
}

#main_class section{
    background-color: #D9D9D9;
    width:300px;
    height:300px;
    border-radius: 30px;
    
}



#main_class section h3{
    font-weight:bold;
    color:#3B778A;
}

#classes{
    background-color: #D9D9D9;
    height:150px;

}


#classes h1{
    color:#2A4D58;
}



#classes_function label{
    
   font-weight: bold;
}

#create_class{
    background-color: #3B778A;
    width:110px;
    height:40px;
    border-radius: 5px;
    color:white;
    border:none;
    
}

#filter_class{
    width:200px;
    height:40px;
}

#filter_grades{
    width:200px;
    height:40px;
}

#search_button{
    font-weight: bold;
    background-color: #3B778A;
    color:white;
    
}


#class_button{
    margin-top:70px;
    
    
}

#edit_class{
    width:60px;
    background-color: transparent;
    
    font-size: large;
    border:none;
}


#add_grades{
        background-color: #3B778A;
        width:70px;
        height:40px;
        border-radius: 5px;
        color:white;
        border:none;
}


#add_schedule_button{
    background-color: #3B778A;
    width:80px;
    height:35px;
    border-radius: 5px;
    color:white;
    border:none;
}


#add_schedule_button svg{
    margin-bottom:5px;
}

#edit_grades{
    background-color: #3B778A;
    width:70px;
    height:40px;
    border-radius: 5px;
    color:white;
    border:none;
}

#edit_profile{
    background-color: transparent;
    color:#2A4D58;
    width:100px;
    height:40px;
    
    
    border:none;
}

#edit_profile:hover{
    text-decoration: underline;
    font-weight: bold;
}

#edit_class:hover{
   font-display: underline;
   text-decoration: underline;
   color:green
}


#delete_class{
    width:60px;
    background-color: transparent;
    
    font-size: large;
    border:none;
}

#delete_class:hover{
    font-display: underline;
    text-decoration: underline;
    color:red;
 }

#lesson_header{
    height:100px;
    
}

a{
    text-decoration: none;
    
}

#lesson_lists{
    height:200px;
   
   
}

li{
    padding:10px;
}

.class_active{
    background-color: black;
}

li:hover{
    background-color: black;
}

#lesson_header h2{
    color:#3B778A;
    font-weight: bold;
    margin-right:10%;
}

#announcements{
    background-color: #D9D9D9;
    height:150px;
}

#announcements h1{
    padding-top:65px;
    padding-left:70px;
    color:#2A4D58;
}

#grades{
    background-color: #D9D9D9;
    height:150px;
}

#grades h1{
    color:#2A4D58;
}

#cars{
    height:50px;
}


#grades_table{
    width:95%;
   
}

#edit_button{
   text-align: center;
   width:75px;
   height:30px;
   border:none;
   background-color: #3B778A;
   color:white;
   border-radius: 5px;
}

#edit_button svg{
    margin-bottom:5px;
 }

 #delete_button svg{
    margin-bottom:5px;
}

#delete_button{
    text-align: center;
    width:75px;
    height:30px;
    border:none;
    background-color: #3B778A;
    color:white;
    border-radius: 5px;
 }














@media(max-width: 768px){
  
}